/* css reset */

html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.info {
  margin-top: 2rem;
  text-align: center;
}

.container {
  width: 30rem;
  background-color: aqua;
  margin: 10rem auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.seat {
  background-color: #ed1a44;
  height: 1.5rem;
  flex-basis: 5%;
  border: solid 1px pink;
  cursor: pointer;
}
.seat:hover {
  background-color: #f05171;
}

.occupied {
  background-color: #d9d7d7;
  border: solid 1px #d9d7d7;
}
.occupied:hover {
  background-color: #ede6e7;
}
