html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  border: solid 3px blue;
  max-width: 70rem;
  margin: 5rem auto;
  position: relative;
  height: 70rem;
}

.heading {
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 3rem;
}

.resume-body {
  padding: 8rem 0rem;
  /* background-color: tomato; */
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

section {
  margin-bottom: 2rem;
}

.left {
  /* flex-grow: 1.5; */
  flex-basis: 35%;
  padding: 0 3rem;
  border-right: solid 3px blue;
}

.right {
  flex-grow: 1;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  width: 100%;
  padding-left: 30px;
}
li {
  margin-left: auto;
}
