* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: pink;
  width: 80%;
  height: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.child {
  /* height: 10rem; */
  /* width: 5rem; */
  background-color: blue;
  border: 1px solid green;
  color: white;
  font-size: 2rem;
  /* flex-basis: 20%; */
}

.big-box {
  flex-grow: 1;
}

.big-box-2 {
  flex-grow: 3;
}

/* .big-text {
  font-size: 8rem;
} */
