body {
  color: rgba(0, 0, 0, 0.8);
  font-family: "ubuntu";
  background: linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  background: white;
  max-width: 70rem;
  margin: 5rem auto;
  padding: 3rem;
  /* background-color: beige; */
  /* max-width: 100rem; */
  box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.title {
  text-align: center;
  text-decoration: underline;
}

hr {
  width: 5rem;
  display: inline-block;
  text-align: left;
  border: none;
  /* margin-left: 1rem; */
  border-top: dotted rgba(0, 0, 0, 0.2) 8px;

  /* border-radius: 10px; */
}

.link {
  font-weight: 700;
  color: orangered;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
