.input {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.btn {
  margin: 0 1rem;
}

.answer {
  margin-top: 3rem;
  text-align: center;
}
