.clock {
  width: 50rem;
  /* background-color: aquamarine; */
  height: 50rem;
  margin: 10rem auto;
}

.clock__outer {
  background-color: orangered;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: solid 4px black;
}

.clock__inner {
  background-color: white;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: solid 4px black;
}

.clock__center-dot {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.clock__hand {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: left;
  border-radius: 30%;
}

.minute {
  width: 40%;
  height: 0.5rem;
  background-color: blue;
  transform: translate(0, -50%) rotate(0.1turn);
}

.hour {
  width: 30%;
  height: 0.5rem;
  background-color: plum;
  transform: translate(0, -50%) rotate(0.3turn);
}

.second {
  width: 43%;
  height: 0.5rem;
  background-color: rgb(112, 218, 64);
  transform: translate(0, -50%) rotate(180deg);
}
